<h3>Documents</h3>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>">
        <%= file %>
      </a>
      <%= " | " %>
      <a href="/<%= file %>/edit">
        edit
      </a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<h3>Media</h3>

<ul>
  <% @media.each do |file| %>
    <li>
      <a href="/<%= file %>">
        <%= File.basename(file) %>
      </a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<form action="/media/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="filename">
  <input type="submit">
</form>

<% if session[:user] %>
  <form action="/users/signout" method="post">
    <p class="user-status">
      Signed in as <%= session[:user] %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="user-status">
    <a href="/users/signin">Sign In</a> or
    <a href="/users/signup">Sign Up</a>
  </p>
<% end %>
